<div class="login-background">
  <div class="login-main">
    <div class="login-container">
      <h1>Công ty cổ phần MISA</h1>
      <h2>Đăng nhập</h2>
      <div>
        <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. pat@gmail.com" formControlName="username" [ngClass]="{'is-invalid': submitted && f.username.errors }">
            
            <mat-error *ngIf="submitted && f.username.errors">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" (keydown)="onKeydown($event)">
           <mat-error *ngIf="submitted && f.password.errors">
             Password is <strong>required</strong>
           </mat-error>
          </mat-form-field>
        </form>
        <div class="example-button-row button">
          <button mat-raised-button color="primary" [disabled]="loading" type="submit" (click)="onSubmit()">
            <mat-spinner *ngIf="loading"></mat-spinner>
            Đăng nhập
          </button>
        </div>
      </div>


    </div>
  </div>
</div>


