.setting-container{
    padding: 30px;
}
.setting-item{
    width:50%;

}
.example-button-container {
  float: right;
  justify-content: center;
  width: 120px;
  margin: 10px;
}
button{
    margin:10px;
}
.container{
    display:flex;
    flex-wrap:wrap;
}

i{
    margin:10px;
}
.div-icon {
    width: 50%;
}
.icon-btn:hover{
    cursor:pointer;
}
mat-expansion-panel {
  width: 400px;
}
.list-user :hover {
    cursor:pointer;
}
.error-validate {
  color: red;
}
