
<div class="admin-container">
  <div class="list">
    <h2>Danh sách quy trình cần xử lí:</h2>

    <table matSort (matSortChange)="sortData($event)" class="table table-striped">
      <thead>
        <tr>
          <th  mat-sort-header="id" scope="row">STT</th>
          <th  mat-sort-header="nameProcess" scope="row">Tên quy trình</th>
          <th  mat-sort-header="createdBy" scope="row">Thời gian tạo</th>
          <th  mat-sort-header="status" scope="row">Giai đoạn</th>
        </tr>
      </thead>
      <tbody *ngFor="let process of processes" class="list-row" (click)="confirmProcess(process)">
        <tr>
          <td>{{process.id}}</td>
          <td>{{process.nameProcess}}</td>
          <td>{{process.createdBy}}</td>
          <td>
            {{process.status}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


