.select-container {
  display: flex;
  width: 100%;
  padding: 10px;
}

.select-content {
  margin-left: 30px;
}

.select-name {
  width: 100px;
  text-align: center;
}
.edit-container {
    margin:10px;
    padding:20px;
}
.form-name {
  width: 40%;
}
.card {
    width:40%;
}
button {
    margin: 10px;
}
.box-card{
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 30px;
}
.spiner {
  width: 100px;
  height: 100px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.error-validate {
  color:red;
  width: 100%;
}