.admin-container{
    margin: 0 0 2em 0;
    list-style-type:none;
    padding: 10px;
   
}
  .admin-container li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
    .admin-container li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }
  .admin-container .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
.example-button-container {
  float:right;
  justify-content: center;
  width: 120px;
  margin: 10px;
}
.list {
  margin-top: 20px;
}
.list-row:hover {
  cursor: pointer;
  color: #607D8B;
  background-color: #DDD;
}
.spiner {
  width: 100px;
  height: 100px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.icon-btn:hover{
  cursor:pointer;
}
.bottom-page {
  float: right;
  margin: 15px;
  background-color: #fff;
}
.item-bottom {
  display: inline;
  margin: 10px;
}
.search-div{
  width: 40%;
}