<div class="admin-container">
  <div class="example-button-container">
    <button mat-fab color="accent" aria-label="add process" (click)="openDialog()" matTooltip="Tạo mới quy trình">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="list">
    <h2>Danh sách các quy trình bạn quản lí:</h2>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="row">STT</th>
          <th scope="row">Tên quy trình</th>
          <th scope="row">Người tạo</th>
          <th scope="row">Trạng thái</th>
        </tr>
      </thead>
      <tbody *ngFor="let process of processes" class="list-row">
        <tr>
          <td>{{process.id}}</td>
          <td>{{process.nameProcess}}</td>
          <td>{{process.createdBy}}</td>
          <td>
            {{process.status}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<router-outlet></router-outlet>

