 mat-grid-tile {
  border-right: 2px solid groove;
  height: 90vh;
}
.process-container {  
    padding:15px;
    margin:10px;
}
button{
    margin: 10px;
}
.div-content {
    position:absolute;
    top:0px;
}
