<h2 mat-dialog-title>Tạo mới quy trình</h2>
<mat-dialog-content class="mat-typography">

  <mat-form-field class="example-full-width">
    <mat-label>Tên quy trình </mat-label>
    <input matInput>
  </mat-form-field>
  <br />
  <label>Mời người tham gia quy trình</label>
  <div class="example-button-container">
    <button mat-fab color="primary" aria-label="invite user" (click)="onOpenDialogInviteUser()">

      <img class="img" src="assets/img/add-user.png" />

    </button>
  </div>
  <label>Permission:</label><br />
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Public(Ai cũng có thể nhìn thấy quy trình này)</mat-radio-button><br />
    <mat-radio-button value="2">Private(Chỉ những người được mời vào quy trình mới nhìn thấy quy trình này)</mat-radio-button>
  </mat-radio-group>

  <h3>Authorization:</h3>
  <mat-checkbox>Người dùng chỉ có thể chỉnh sửa trong quy trình mà mình tham gia!</mat-checkbox>
  <br />
  <mat-checkbox>Quy trình chỉ có thể bị xóa bởi admin</mat-checkbox>

</mat-dialog-content>
<mat-dialog-actions align="right">
  <button mat-button mat-dialog-close>Hủy</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="gotoSetting()">Tạo mới</button>
</mat-dialog-actions>

