<h2 mat-dialog-title>Tạo mới quy trình</h2>
<mat-dialog-content class="mat-typography">

  <mat-form-field class="example-full-width">
    <label for="name">Tên quy trình </label>
    <div class="input-group mb-3">
      <input type="text"
             class="form-control"
             aria-describedby="basic-addon1"
             required
             id="name"
             name="name"
             (input)="onChange($event.target.value)"
             />
      <div *ngIf="error.name">
        <p>Bạn chưa nhập tên quy trình</p>
      </div>
      <!--<mat-error *ngIf="nameFormControl.hasError('required')">
        Chưa nhập tên quy trình
      </mat-error>-->
    </div>
  </mat-form-field>


  <br />



  <div class="invite-container">
    <label>Mời người tham gia quy trình</label>
    <div class="example-button-container">
      <button mat-fab color="primary" aria-label="invite user" (click)="onOpenDialogInviteUser()">
        <i class="material-icons">person_add</i>
      </button>
    </div>
  </div>


  <div class="select-container">
    <p class="select-name">Permission</p>
    <div class="select-content">
      <mat-radio-group aria-label="permission" >
        <mat-radio-button value="1">
        Public(Ai cũng có thể nhìn thấy quy trình này)
          </mat-radio-button><br />
        <mat-radio-button value="2">
        Private(Chỉ những người được mời vào quy trình mới nhìn thấy quy trình này)
        </mat-radio-button>
      </mat-radio-group>
    </div>

  </div>
  <div class="select-container">
    <p class="select-name">Authorization</p>
    <div class="select-content">
      <mat-checkbox>Người dùng chỉ có thể chỉnh sửa trong quy trình mà mình tham gia!</mat-checkbox>
      <br />
      <mat-checkbox>Quy trình chỉ có thể bị xóa bởi admin</mat-checkbox>
    </div>
  </div>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Hủy</button>
  <button mat-button 
          cdkFocusInitial (click)="gotoSetting()">
    Tạo mới
  </button>
</mat-dialog-actions>

