<div class="admin-container">
  <div class="list">
    <h2>Danh sách quy trình của bạn</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="row">Số thứ tự</th>
          <th scope="row">Tên quy trình</th>
          <th scope="row">Thời gian tạo</th>
          <th scope="row">Giai đoạn</th>
        </tr>
      </thead>
      <tbody *ngFor="let process of processes" >
        <tr>
          <td>{{process.id}}</td>
          <td>{{process.nameProcess}}</td>
          <td>{{process.createdBy}}</td>
          <td>
            {{process.status}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
