<div class="container-field">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <div class="mat-grid-tile div">
        <div class="title">
          <i class="material-icons">call</i>
          <h5>Assignees select</h5>
        </div>
        <p>Với các trường chọn thành viên</p>
       
        <label>
          Tên trường
        </label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <label>
          Mô tả
        </label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="title">
          <h4>
            Trường này có bắt buộc không ?
          </h4>
          <mat-slide-toggle></mat-slide-toggle>
        </div>
       
       
        <button type="button" class="btn btn-danger">Hủy</button>
        <button type="button" class="btn btn-primary">Lưu</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      2
    </mat-grid-tile>
  </mat-grid-list>
</div>

