
<div class="container form-field" *ngIf="childField.length > 0">

  <div *ngFor="let child of childField">
    <div *ngIf="tab.id == child.phaseId">
      <div class="title-field">
        <h3 *ngIf="!child.required">{{child.fieldName}}</h3>
        <h3 *ngIf="child.required">{{child.fieldName}} (*)</h3>
        <div class="hide-icon">
          <i class="material-icons btn" [matMenuTriggerFor]="menu">more_vert</i>
        </div>
      </div>
      <span>
        {{child.description}}
      </span>
      <div *ngIf="child.type == 'shortText'">
        <input type="text" class="form-control" style="width: 50%">
        <br />
      </div>
      

      <div *ngIf="child.type=== 'attchment' ">
        <form>
          <label for="myfile">Select a file:</label>
          <input type="file" id="myfile" name="myfile">
        </form>
        <br />
      </div>

      <div *ngIf="child.type === 'currency' ">
        <input type="number" id="money" placeholder="0.00" />
        <br />
      </div>

      <!--date-->
      <div class="item-control" *ngIf="child.type === 'date' ">
        <form>
          <input type="date" id="date" name="date">
        </form>
        <br />
      </div>

      <!--datetime-->
      <div *ngIf="child.type === 'dateTime' ">
        <form>
          <input type="datetime-local" id="datetime" name="datetime">
        </form>
        <br />
      </div>

      <!--Email-->
      <div *ngIf="child.type === 'email' ">
        <form>
          <input type="email" id="email" name="email" placeholder="Exp@gmail.com">
        </form>
        <br />
      </div>

      <!--Long Text-->
      <div *ngIf="child.type === 'longText' ">
        <textarea class="form-control" aria-label="With textarea"></textarea>
        <br />
      </div>

      <!--PhoneNumber-->
      <div *ngIf="child.type === 'phone' ">
        <form>
          <input type="tel" id="phone" name="phone" placeholder="0965 856 158" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
        </form>
        <br />
      </div>

      <!--Radio-->
      <div *ngIf="child.type === 'radio' ">
        <div *ngFor="let opti of child.option">
          <input type="radio" id="male" name="gender" value="opti.value">
          <label for="male">{{opti.value}}</label><br>
        </div>
        <br />
      </div>


      <!--Time-->
      <div *ngIf="child.type === 'time' ">
        <input type="time" id="appt" name="appt"
               min="09:00" max="18:00">
        <br />
      </div>

      <div *ngIf="child.type === 'checkBox' ">
        <div *ngFor="let opti of child.option">
          <input type="checkbox" id="male" name="gender" value="opti.value">
          <label for="male">{{opti.value}}</label>
        </div>
        <br />
      </div>

      <div *ngIf="child.type === 'dropDown' ">
        <mat-form-field>
          <mat-label>Chọn select</mat-label>
          <mat-select>
            <mat-option *ngFor="let opti of child.option" [value]="opti">
              {{opti.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
      </div>

    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onEdit(tab,child)">
        <i class="material-icons">edit</i>
        <span>Chỉnh sửa</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">arrow_upward</i>
        <span>Di chuyển lên</span>
      </button>
      <button mat-menu-item>
        <i class="material-icons">arrow_downward</i>
        <span>Di chuyển xuống</span>
      </button>
      <button mat-menu-item (click)="onDelete(tab,child)">
        <i class="material-icons">delete</i>
        <span>Xóa</span>
      </button>
    </mat-menu>
  </div>


</div>


