<div class="home-container m10 p10">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Amis Process</span>
      <span class="example-spacer"></span>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <mat-selection-list [multiple]="false">
        <mat-list-option (click)="gotoAdmin()">
          Quản lí quy trình
        </mat-list-option>
        <mat-list-option (click)="gotoList()">
          Danh sách quy trình
        </mat-list-option>
        <mat-list-option (click)="gotoConfirm()">
          Quy trình cần xác nhận
        </mat-list-option>
        <mat-list-option (click)="gotoYourPro()">
          Quy trình của bạn
        </mat-list-option>
      </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content>
      <ul *ngIf="users">
        <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
      </ul>
      <button (click)="logout()">Logout</button>
    
      <router-outlet></router-outlet>

    </mat-drawer-content>
  </mat-drawer-container>

</div>

