<div *ngIf="users">
<div class="home-container m10 p10">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span (click)="goto('home')" class="icon-process">Amis Process</span>
      <span class="example-spacer"></span>
      <div class="icon-process">
        <i class="material-icons">settings</i>
        <i class="material-icons" (click)="viewMember()">people_alt</i>
      </div>
      <img class="img" src="assets/img/user.png" [matMenuTriggerFor]="menu" />
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Thông tin cá nhân</button>
        <button mat-menu-item (click)="logout()">Đăng xuất</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <mat-selection-list [multiple]="false" *ngFor="let menuItem of menuItems">
        <div *ngIf="selected == menuItem.value " class="menu-item">
          <mat-list-option (click)="goto(menuItem.value)">
            {{menuItem.label}}
          </mat-list-option>
        </div>
        <div *ngIf="selected != menuItem.value" >
          <mat-list-option (click)="goto(menuItem.value)">
            {{menuItem.label}}
          </mat-list-option>
        </div>
      </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content>
      <ul *ngIf="users">
        <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
      </ul>
    
      <router-outlet></router-outlet>

    </mat-drawer-content>
  </mat-drawer-container>

</div>
</div>


